{% extends "base.html" %} {% set active_page = "index" %}
{% block title %}
    <title>SAPS</title>
{% endblock %}
{% block extrahead %}
  <style>
    body {
      margin-top: 0px;
    }
    .jumbotron {
      padding-top: 96px;
      padding-bottom: 24px;
      margin-bottom: 0px;
      height: 100%;
    }
    .cloudy-background {
      background: url('{{ SITEURL }}/theme/images/bg/fogbow-bg-low-opacity.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar-brand {
      visibility: hidden;
    }
    .btn-sm {
      font-size: 14px;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4 text-center">
            <p>
              <img src="{{ SITEURL }}/theme/images/logos/logo-abertura.png" style="width: 250px; height: 250px;">
            </p>
          </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>This is where a brief description of SAPS should go</h2>
          </div>
        </div>
    </div>   
  </div>
{% endblock %}
